# Ignore files #
.eslintignore
.gitignore
.prettierignore

README.md

# Configuration files #
.eslintrc.js
.prettierrc.js
webpack.config.js
typedoc.config.js
tsconfig.json

# Package files #
package.json
package-lock.json


# Folders #
build/*
docs/*
.node_modules/*
config/*
scripts/*
src/libs/*


# .ts .tsx .js Files #
src/serviceWorker.ts
src/react-app-env.d.ts
src/electron.js
src/App.tsx